name: release

on:
  release:
    types: [created]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Print event name ("${{ github.event_name }}")
        run: |
          echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"

      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest stable Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Lint with rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Lint with clippy
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: "-D warnings"
        with:
          command: clippy
          args: --all-targets --all-features

      - name: Test in development mode
        uses: actions-rs/cargo@v1.0.1
        env:
          RUSTFLAGS: "-D warnings"
        with:
          command: test
          toolchain: stable

      - name: Test in release mode
        uses: actions-rs/cargo@v1.0.1
        env:
          RUSTFLAGS: "-D warnings"
        with:
          command: test
          toolchain: stable
          args: --release

  miri-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Get latest rust nightly version that has miri
        id: versions
        run: |
          echo "::set-output name=rustc::nightly-$(curl -s https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri)"

      - name: Install rust ${{ steps.versions.outputs.rustc }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.versions.outputs.rustc }}
          profile: minimal
          components: miri
          override: true

      - name: Run tests in miri
        env:
          RUSTFLAGS: "-Zrandomize-layout"
          MIRIFLAGS: "-Zmiri-symbolic-alignment-check -Zmiri-check-number-validity -Zmiri-tag-raw-pointers -Zmiri-disable-isolation"
        run: |
          cargo miri test --no-fail-fast --all-targets

  python-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        uses: actions/checkout@v1

      - name: Set up Python ${{ matrix.python-version }}
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install

      - name: Install latest stable Rust
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build Python package
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        run: poetry run maturin develop --release --features pybindings

      - name: pytest
        if: matrix.os != 'windows-latest' || matrix.python-version != '3.6'
        run: poetry run pytest tests/python

  testall:
    runs-on: ubuntu-latest
    name: Meta job for all tests
    needs: [rust-test, miri-test, python-test]
    steps:
      - name: Done
        run: echo "All tests successful."

  python-doc:
    needs: testall
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install

      - name: Install latest stable Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: checkout website template
        run: |
          git clone https://github.com/bamler-lab/constriction.git --branch website-template --single-branch website
          rm -rf website/.git
          CONSTRICTION_VERSION=`poetry run python get_version.py`
          echo "Found constriction version $CONSTRICTION_VERSION."
          sed -i "s/<\!-- CONSTRICTION_VERSION -->/$CONSTRICTION_VERSION/g" website/index.html

      - name: generate license file
        run: |
          cargo install cargo-about
          cargo about generate --features=pybindings about.hbs > website/license.html
          wc -l website/license.html

      - name: generate python API reference
        run: |
          poetry run maturin develop --features pybindings
          poetry run python pythondoc.py website/apidoc/python
          mv website/apidoc/python/constriction/* website/apidoc/python/
          rmdir website/apidoc/python/constriction

      - name: Save artifact with website
        uses: actions/upload-artifact@v2
        with:
          name: website
          path: ./website

      - name: Deploy website to gh-pages branch
        if: github.event_name == 'release'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website
          commit_message: Deploy

  rust-publish:
    needs: testall
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Publish on crates.io
        if: github.event_name == 'release'
        run: |
          cargo login ${{ secrets.CARGO }}
          cargo publish

  python-publish:
    needs: testall
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v1

      - name: Install latest stable Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Set up Python 3.6
        if: matrix.os != 'windows-latest'
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Build wheels for linux
        if: matrix.os == 'ubuntu-latest'
        uses: messense/maturin-action@v1
        with:
          command: build
          manylinux: 2014
          args: --release --strip --features pybindings

      # For some reason, manyliniux builds create wheels owned by the root user,
      # which breaks our attempts to add the license file below.
      - name: Fix wheel ownership on linux
        if: matrix.os == 'ubuntu-latest'
        run: sudo chown -R runner:docker target

      - name: Build wheels for ${{ matrix.os }}
        if: matrix.os != 'ubuntu-latest'
        uses: messense/maturin-action@v1
        with:
          command: build
          args: --release --strip --features pybindings

      - name: Cross-build wheels for Apple Silicon
        if: matrix.os == 'macos-latest'
        uses: messense/maturin-action@v1
        with:
          target: aarch64-apple-darwin
          command: build
          args: --release --strip --features pybindings

      - name: Build universal2 wheels
        if: matrix.os == 'macos-latest'
        uses: messense/maturin-action@v1
        with:
          command: build
          args: --release --strip --features pybindings --universal2

      - name: List wheels (unix)
        if: matrix.os != 'windows-latest'
        run: ls -l ./target/wheels/

      - name: List wheels (windows)
        if: matrix.os == 'windows-latest'
        run: dir target\wheels\

      - name: generate license file
        run: |
          cargo install cargo-about
          cargo about generate --features=pybindings about.hbs > LICENSE.html
          ls -l LICENSE.html
          wc -l LICENSE.html

      - name: Add LICENSE.html to all wheels (unix)
        if: matrix.os != 'windows-latest'
        run: |
          for wheel in target/wheels/*.whl; do
            zip -ur $wheel LICENSE.html
          done

      - name: Add LICENSE.html to all wheels (windows)
        if: matrix.os == 'windows-latest'
        run: |
          [Reflection.Assembly]::LoadWithPartialName('System.IO.Compression.FileSystem') | Out-Null
          Get-ChildItem "target\wheels\" -Filter *.whl |
          Foreach-Object {
            $zip = [System.IO.Compression.ZipFile]::Open($_.FullName, "Update")
            $licenseFile = [System.IO.Path]::GetFileName("LICENSE.html")
            [System.IO.Compression.ZipFileExtensions]::CreateEntryFromFile($zip, "LICENSE.html", $licenseFile, "Optimal") | Out-Null
            $zip.Dispose()
          }

      - name: Save artifact with wheels for ${{ matrix.os }}
        uses: actions/upload-artifact@v2
        with:
          name: wheels-${{ matrix.os }}
          path: ./target/wheels/

      - name: Test install wheels (unix)
        if: matrix.os != 'windows-latest'
        run: |
          for i in target/wheels/*.whl; do
            echo "Running: pip install $i ..."
            pip install "$i" || echo "WARNING: unable to install $i"

            echo "Testing if we can import constriction and numpy ..."
            python -c 'import constriction; import numpy; print(constriction.__file__)' || echo "WARNING: unable to import constriction or numpy ($i)"

            echo "Running: pip uninstall -y constriction numpy"
            pip uninstall -y constriction numpy
            echo
          done

      - name: Test install wheels (windows)
        if: matrix.os == 'windows-latest'
        run: |
          $wheels = Get-ChildItem "target\wheels\"
          foreach ($wheel in $wheels){
            echo "Running: pip install $($wheel.FullName) ..."
            try {
              pip install "$($wheel.FullName)"
            } catch {
              echo "WARNING: unable to install $($wheel.FullName)"
            }

            echo "Testing if we can import constriction and numpy ..."
            try {
              python -c 'import constriction; import numpy; print(constriction.__file__)'
            } catch {
              echo "WARNING: unable to import constriction or numpy ($($wheel.FullName))"
            }

            echo "Running: pip uninstall -y constriction numpy ..."
            pip uninstall -y constriction numpy
            echo ""
          }

      - name: Install Python dependencies (for twine)
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry install

      - name: Publish wheels (unix)
        if: matrix.os != 'windows-latest' && github.event_name == 'release'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI }}
        run: |
          poetry run twine upload target/wheels/*.whl

      - name: Publish wheels (windows)
        if: matrix.os == 'windows-latest' && github.event_name == 'release'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI }}
        run: |
          $wheels = Get-ChildItem "target\wheels\"
          foreach ($wheel in $wheels){
            echo "Uploading $($wheel.FullName)"
            poetry run twine upload "$($wheel.FullName)"
          }

      - name: Add wheels to Github release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: target/wheels/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
